* {
    font-family: 'Papyrus', Lucida Handwriting, monospace;
}

body {
    background-image: url(images/background.jpg);
}

.recipe-list, .ingredients-list {
    display: table;
    margin: auto;
}


.recipe-image, .recipe-description, .recipe-title, .ingredients-title {
    text-align: center;
}

.steps {
    text-align: center;
}